@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 102, 255, 0.486);
    font-size: 1em;
}

main {
    background-color: white;
    width: 80%;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: rgb(46, 46, 170);
    text-align: center;
    font-weight: bolder;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: rgb(46, 46, 170);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;  
    font-weight: normal;


    text-align: justify;
}


